<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag "https://cdn.pixabay.com/photo/2017/08/06/09/14/people-2590564_960_720.jpg", class: "course-img" %>
    </div>
    <div class="col-md-7">
      <h1 class="text-center"> <%= @course.title %> </h1>
      <p>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/Artmen12", class: "avatar" %>
        <strong>Organisé par</strong>
        <%= @course.user.username %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <p>
        <strong>Duration:</strong>
        <%= @course.duration %> min
      </p>

      <p>
        <strong>Address:</strong>
        <%= @course.location %>
      </p>

      <p>
        <strong>Price per person:</strong>
        <%= @course.price %> €
      </p>

      <p>
        <strong>Number of participants:</strong>
        <%= @course.participants %>
      </p>

      <p>
        <strong>Available places:</strong>
        <%= @course.participants - @course.bookings.length %>
      </p>

      <p>
        <strong>When </strong>
        <%= @course.date %>
      </p>

      <%= link_to edit_owner_course_path(@course) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %> |

      <%= link_to owner_course_path(@course), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      </div>
    </div>
  </div>


  <%= link_to owner_courses_path, :class => "btn p-3 mr-3 mb-4 button btn-secondary" do %>
    <i class="fas fa-long-arrow-alt-left"> Back</i>
  <% end %>

</div>
