<div class="m-3" style="height: 100vh;">

  <div class="d-flex">
    <h1 class="flex-grow-1">All your bookings</h1>
    <div>
      <%= link_to courses_path, :class => "btn p-3 m-3 button btn-secondary" do %>
        <i class="fas fa-long-arrow-alt-left"> Back to courses list</i>
      <% end %>
    </div>
  </div>

  <div class="d-flex owner-dashboard">
    <div class="info-content pl-2 pr-2">
      <div class="cards-index">
        <% @bookings.each do |booking| %>
          <%= link_to course_booking_path(booking.course, booking) do %>
            <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.course.photo, crop: :fit %>)">
              <div class="info">
                <h1><%= booking.course.title %></h1>
                <p> <%= booking.course.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

