<div class="container">
  <div class="row">
    <div class="col-md-5">
      <p>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/Artmen12", class: "avatar" %>
        <%= @booking.user.username %>
      </p>
      <div>
        <%= cl_image_tag @booking.course.photo, crop: :fit, class: "course-img" %>
      </div>
    </div>
    <div class="col-md-7">
      <p>
        <h1 class="text-center">Your booking</h1>
      </p>
      <p>
        <%= @booking.course.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @booking.course.description %>
      </p>

      <p>
        <strong>Duration:</strong>
        <%= @booking.course.duration %> min
      </p>

      <p>
        <strong>Address:</strong>
        <%= @booking.course.location %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @booking.course.price %> €
      </p>

      <p>
        <strong>When </strong>
        <%= @booking.course.date %>
      </p>


  <%= link_to bookings_path, :class => "btn p-3 mr-3 mb-4 form-button btn-secondary" do %>
    <i class="fas fa-long-arrow-alt-left"> Back</i>
  <% end %>

  <%= link_to booking_path, method: :delete, :class => "btn p-3 mr-3 mb-4 form-button btn-danger" do %>
  <i class="fas fa-trash-alt"> Delete</i>
  <% end %>

</div>
