<html>
  <head>


  </head>
  <body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496886077455-6e206da90837?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
    <div class="container">
      <div class="search-block col-md-5 bg-white rounded p-4">
        <h2>Find a course !</h2>
        <br>
        <p>Enter a <u>skill</u> or a <u>city</u> :</p>
         <div class="search-bar">
          <%= form_tag courses_path, class: "form-banner", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type here" %>
          <br>
          <%= submit_tag "Search", class: "btn btn-primary button button-banner" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container banner-small mt-5 col-md-10">
    <div class="banner-small-content rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
    <h2>Find your talents and share it with others</h2>
    <p>You want to learn new skills for cheap close to you?</p>
    <p>You want to share your knowledge and earn extra cash?</p>
    <p>Find people around you who will make this happen.</p>
    <%= link_to "Know more",  new_owner_course_path, class: "btn btn-primary button button-banner-small" %>
    </div>
  </div>

  <div class="container selection-location col-md-10 mt-5">
    <%= link_to "Our selection near your position", courses_path, class: "select-near-position" %>
    <div class="cards-home-course mt-4">
      <% @courses_near.each do |course_near| %>
          <div class="card-home-course rounded">
            <%= link_to course_path(course_near) do %>
              <%= cl_image_tag course_near.photo, crop: :fit, class: "img" %>
              <div class="card-home-course-infos">
                <h2><%= course_near.title %></h2>
                <p><strong>Bordeaux</strong></p>
                <div class="infos-time-participants">
                  <p><strong><%= course_near.duration %>min</strong></p>
                  <p><strong class="infos-price"><%= course_near.price %>€/pers</strong></p>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="container selection-location col-md-10 mt-5">
    <h2>Don't miss your chance !</h2>
    <br>
    <div class="cards-index">
      <% @courses.each do |course| %>
        <% if (course.participants.to_i - course.bookings.length) <= 2 && (course.participants.to_i - course.bookings.length) > 0 %>
          <%= link_to course_path(course) do %>
            <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path course.photo, crop: :fit %>)">
              <div class="info">
                <h1><%= course.title %></h1>
              </div>
            </div>
          <% end %>
          <% end %>
        <% end %>
    </div>
  </div>

  </div>
  </body>
</html>




