<div class="d-flex mt-0">

  <div class="contenu m-2 flex-grow-1">

    <div class="d-flex m-4">
      <h1 class="flex-grow-1">All courses available</h1>
      <%= link_to "Your Bookings", bookings_path, :class => "btn p-3 m-3 button btn-secondary" %>
    </div>

    <div class="search-input m-3">
      <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control mb-2",
        placeholder: "Find a course aroud you"%>
        <%= submit_tag "Search", class: "search-btn mb-4" %>
      <% end %>
    </div>


    <div class="d-flex">

      <div class="d-flex owner-dashboard">
        <div class="info-content pl-2 pr-2">
          <div class="cards-index">
            <% @courses.each do |course| %>
              <% if (course.participants.to_i - course.bookings.length) != 0 %>
                  <%= link_to course_path(course) do %>
                    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path course.photo, crop: :fit %>)">
                      <div class="info">
                        <h1><%= course.title %></h1>
                        <p> <%= course.description %></p>
                      </div>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="map"
       style="width: 40%; height: 100vh; border-left: 1px solid #EC6C58"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>




