<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div>
        <%= image_tag "https://cdn.pixabay.com/photo/2017/08/06/09/14/people-2590564_960_720.jpg", class: "course-img" %>
      </div>
    </div>
    <div class="col-md-7">
      <p>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/Artmen12", class: "avatar" %>
        <strong>Your email:</strong>
      </p>
      <p>
        <h1 class="text-center"> <%= @course.title %> </h1>
      </p>

      <br>
      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <p>
        <strong>Duration:</strong>
        <%= @course.duration %> min
      </p>

      <p>
        <strong>Address:</strong>
        <%= @course.address %>
      </p>
      <div id="map"
           style="width: 50%; height: 200px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <p>
        <strong>Available places:</strong>
        <%= @course.participants - @course.bookings.length %>
      </p>

      <p>
        <strong>Price per person:</strong>
        <%= @course.price %> €
      </p>

      <p>
        <strong>When </strong>
        <%= @course.date %>
      </p>

      <% if @course.bookings == [] %>
        <%= link_to "I want to participate !", course_bookings_path(@course), method: :post, :class => "btn btn-primary form-button p-3" %>
      <% else %>
        <% @course.bookings.each do |booking| %>
          <% if booking.user != current_user %>
            <%= link_to "I want to participate !", course_bookings_path(@course), method: :post, :class => "btn btn-primary form-button p-3" %>
          <% else %>
            <p>You already booked this course</p>
          <% end %>
        <% end %>
      <% end %>
<br>
<br>
<%= link_to courses_path, :class => "btn p-3 mr-3 mb-4 form-button btn-secondary" do %>
  <i class="fas fa-long-arrow-alt-left"> Back</i>
<% end %>
    </div>
  </div>
</div>

